body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 20px;
}
header {
    text-align: center;
    background: #24292e; /* Цвет гитхаба */
    color: white;
    padding: 40px;
    border-radius: 8px;
}